.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.footer {
  text-align: center;
}
.container h2{margin: 20px 0;}

section {width: 800px; margin: 0 auto;}

table {text-align: center;}

table thead {text-align: center;}
table thead #thRegist {width:30%;}
table thead #thId {width:10%;}
table thead #thTitle {width:60%;}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#manageSection .btn {margin: 0 5px;}

.linkStyle {text-decoration: none; color:black}
.linkStyle:hover {font-weight: bold;}

.btn_section {text-align: right;}

.detail_section {width: 700px; margin: 0 auto;}

.title_section {margin-bottom: 30px;}

.content_area {
  min-height: 200px; 
  border: 1px solid #ccd3d8;
  border-radius: 5px;
  padding: 20px;
  position: relative;
}

#upd_textarea {min-height: 200px; height: auto;}

.inner {margin-bottom: 10px; position: relative;}

.title_only, .date_box {display: inline-block;}

.date_box {position: absolute; right: 0;}

.date_area {
  font-size: 12px;
}
.date_area span {
  padding: 10px;
  text-align: center;
}

h6 {font-weight: 900;}

tfoot {justify-content: center;}
.pagination { display: flex; justify-content: center; margin-top: 15px; }
ul { list-style: none; padding: 0; }
ul.pagination li { display: inline-block; height: 30px; border: 1px solid #e2e2e2; display: flex; justify-content: center; align-items: center; font-size: 1rem; cursor: pointer;}
ul.pagination li:first-child{ border-radius: 5px 0 0 5px; }
ul.pagination li:last-child{ border-radius: 0 5px 5px 0; }
ul.pagination li a { text-decoration: none; color: #337ab7; font-size: 1rem; padding: 10px;}
ul.pagination li.active a { color: white; }
ul.pagination li.active { background-color: #337ab7; }
ul.pagination li a:hover, ul.pagination li a.active { color: rgb(38, 38, 158); }
.page-selection { width: 48px; height: 30px; color: #337ab7; }


#search_section {margin-bottom: 10px;}
#search_box {display: flex; justify-content: right;}
#searchInput {max-width: 30%; height: 30px; font-size: 12px;}
.searchBtn {margin-left: 5px;}

#select_box {height: 30px; width: 90px; margin-right: 5px; font-size: 12px; text-align: center;}

#fileName_section {display: flex; justify-content: flex-start;}
#fileName_section div {width: 45%;}
#fileName_section div:first-child {margin-right: 20px;}