@font-face {
  font-family: 'Oswald-Medium';
  font-style: normal;
  font-weight: normal;
  src: url("./font/Oswald/oswald-v40-latin-regular.woff2") format('woff2'),
  url("./font/Oswald/oswald-v40-latin-regular.woff") format('woff'),
  url("./font/Oswald/oswald-v40-latin-regular.ttf") format('truetype')
}

body {font-family: 'Oswald-Medium';}

#manageSection { text-align: center;}
